# env
python-dotenv~=1.0.0
# visualizations
beautifulsoup4==4.12.3
seaborn==0.13.2
# base
numpy==1.26.3
pandas==2.2.0
requests==2.32.3
# ml
notebook==7.2.2
scikit-learn==1.5.1
# NLP
nltk==3.9.1
# open_clip
#torch == 2.4.0 to install use pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
#torchvision == 0.19.0
open-clip-torch == 2.23.0
timm == 0.9.12
transformers == 4.48.0
# embeds storing
pyarrow == 19.0.1
# fastapi
fastapi==0.89.0
uvicorn==0.20.0
# uuid
shortuuid == 1.0.13